:root {
  --color-acento: #1e213a;
  --color-base: #100e1d;
  --font-ligth: #a09fb1;
  --button-color: #e7e7eb;
  --color-input: #e7f0fe;
  --button-background: #6e707a;
}

body {
  background-color: var(--color-base);
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  color: var(--font-ligth);
  font-size: 86px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.find-location {
  position: absolute;
  top: 95px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}

.input input {
  background-color: var(--color-input);
  width: 70%;
  border: none;
  padding: 15px;
  outline: none;
}

.input i:hover {
  cursor: pointer;
  color: var(--color-base);
}

.input {
  background-color: var(--color-input);
}

.locations-finded {
  border: 1px solid var(--font-ligth);
  margin-top: 10px;
  padding: 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.loading-spinner i {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loading-spinner p {
  font-size: 42px;
}

.current-location {
  margin-top: 25px;
}

.weather {
  width: 100%;
  display: flex;
}

.current-weather {
  width: 359px;
  background-color: var(--color-acento);
  height: 100vh;
  font-weight: 200;
  color: var(--font-ligth);
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Cloud-background2.png");
}

.condition-icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.condition-icon img {
  width: 187px;
}

.condition-feels {
  font-size: 42px;
  font-weight: 500;
}

.condition-feels .feels {
  font-size: 144px;
  font-weight: 500;
}

.condition-status {
  font-size: 26px;
  padding: 30px;
  padding-bottom: 60px;
  font-weight: 500;
  text-transform: capitalize;
}

.current-day {
  padding-bottom: 20px;
}

.current-weather .buttons {
  position: absolute;
  top: 0;
  width: 359px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.buttons button {
  margin: 35px;
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.buttons button:last-child {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 16px;
}

.buttons button:first-child {
  padding-left: 15px;
  padding-right: 15px;
}

.forecast-weather {
  width: calc(100% - 359px);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.forecast-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--font-ligth);
}

.forecast-days {
  background-color: var(--color-acento);
  color: var(--font-ligth);
  padding: 20px;
  margin-left: 45px;
  margin-top: 30px;
  text-align: center;
}
.max-min {
  display: flex;
  justify-content: space-between;
}

.title-details {
  width: 80%;
  margin-bottom: 35px;
  margin-left: 5%;
}

.current-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 35px;
}
.current-details .card {
  width: 40%;
  background-color: var(--color-acento);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
}

.detail-data {
  font-size: 28px;
}

.detail-data span {
  font-size: 80px;
}
